@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');


body{
background-color: blanchedalmond;

}


.heading {

    text-align: center;
}


.playground-heading{
    color: black;
 font-style: birthstone bounce;
 font-family: 'Bebas Neue', sans-serif;
 font-size: 5rem;
}


.main{
    border: 2px solid black; 
    width: 25%; 
    margin: 0 auto;
    
}

.main div{
    width: 200px; 
    height: 200px; 
    border: 1px solid black; 
    border-radius: 50%; 
    margin: 1rem auto

}

#red{
border-color: red;
}
#black{
    border-color: black
}
#blue{
    border-color: blue
}

.link{

    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    width: 25%;
    margin: 0 auto
}

.footer{
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    color: black;
}

